/* * {
	list-style: none;
} */

body {
	background-color: #303030;
	font-family: 'Lato', sans-serif;
	color: #F7F7F7;
}

main {
	padding-top: 110px;
}

a:link {
	text-decoration: none;
}

.headerImg {
	height: 50px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 2px solid #1BB577;
	border-top: 2px solid #1BB577;
	padding: 0 50px;
	position: fixed;
}

.headerImg a {
	color: #F7F7F7;
}


.levelLogo {
	padding-top: 4px;
}

.levelLogo img {
	height: 45px;
	display: block;
	margin: 0 auto;
}

.navBar {
	background-color: rgba(0, 0, 0, 0.5);
	height: 60px;
	width: 100%;
	padding-top: 1px;
	margin-top: 50px;
	position: fixed;
	color: #F7F7F7;
}

.dropdown {
	/* list-style: none; */
	/* background: green; */
	/* padding: 10px; */
	/* display: inline-block; */
}

.dropdown .dropdown-menu {
	background-color: none;
}

.dropdown .nav-link {
	color:#fff;
	text-decoration: none;
}

.dropdown .dropdown-menu a {
	color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.dropdown .btn {
	background: green;
	color:#fff;
}

/* .dropdown .btn:hover {
	background: cyan;
	color:#000;
}

.dropdown .btn:active {
	background: cyan;
	color:#000;
}

.dropdown .btn:focus {
	background: cyan;
	color:#000;
} */

.dropdown-menu .dropdown-item {
	display: inline-block;
	width: 100%;
	padding: 10px 5px;
	text-align: center;
}

.dropdown .dropdown-menu a:hover {
	color: #fff;
	background-color: #1BB577;
	border-color: #fff;
	text-align: center;
}

.hero {
	background-image: url('https://i.imgur.com/Qc80vLK.png');
	background-size: cover;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
}

.heroInfo {
	display: block;
	padding-top: 500px;
}

.activeinfo{
	background-color: #515151;
	height: 480px;
}

.map {
	background-color: #fff;
	height: 230px;
	margin-bottom: 18px;
}

.killFeed {
	background-color: #fff;
	height: 230px;
}
