.mainHeader {
	text-align: left;
	margin-top: 75px;
	/*border: 1px solid green;*/
}

.headerH1 {
	text-align: center;
}

.inputArea {
	margin-top: 75px;
	/*border: 1px solid red;*/
}

.headerLogo {
	width: 100%;
	margin: auto;
}

.headerUl {
	text-align: left;
	list-style: none;
}

.inputFields {
	display: block;
}

.line {
	padding-bottom: 10px;
}

.container {
	padding-bottom: 15px;
}

/* body {
	background-color: #2d2c2c;
	color: #f9f9f9;
} */

.button {
	margin-top: 15px;
}
