*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
  font-family: 'Lato', sans-serif;
  color: #fff
}
h1, h2, h3, h4, h5 {
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(50, 134, 164);
}
a:hover{
    text-decoration: none;
    color: rgb(50, 134, 164);
}
nav{
    position: fixed;
    text-align: right;
    top: 10%;
    left: 88%;
    color: #fff;
    font-size: 1.5em;
    z-index: 100;
}
.wrapper {
    padding-top: 56px;
    padding-bottom: 70px;
    height: auto;
    width: auto;
    background-color: rgba(42, 45, 52, .6);
}
.topBar {
	background-color: #2A2D34;
	color: #fff;
}
.about {
  background-image: url("img/anas-alshanti-169269-unsplash.jpg");
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.title {
    padding-top: 50px;
}
.meInfo {
    margin: 0 auto;
    padding: 10% 0;
    font-size: 1.5em;
}
.meInfo p {
    position: relative;
    margin: 0;
}
.meImg {
    margin: auto 0;
}
.frameImg {
    border: 12px solid rgba(206, 205, 202, .3);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
.meImg img{
    display: block;
    height: auto;
    width: 100%;
    margin: auto;
}
.skills{
    display: block;
    height: auto;
    background-color: #f2f2f2;
    color: #2A2D34;
}
.skills img{
    padding-top: 10px;
}
.exEd{
    display: block;
    background-color: #2A2D34;
}
.experience{
    padding-right: 50px;
}
.listStyle {
	height: 10px;
	width: 10px;
	padding-right: 5px;
}
.companyDuties {
	padding-left: 30px;
}
.education {
	padding: 10px 0 0 0;
	margin: 0 auto;
}
.courseWork {
	padding-left: 30px;
}
.portfolio {
    display: block;
    background-color: #f2f2f2;
    padding-bottom: 4%;
    color: #2A2D34
}
.contact {
    display: flex;
    background-color: #2A2D34;
    padding-top: 100px;
}
.smStack {
    height: 600px;
    width: 50%;
    border-radius: 2px;
    color: #f2f2f2;
    margin: 20px 0;
    padding: 0 50px 10% 50px;
}
.smTitle {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
}
.emailForm {
    height: auto;
    width: auto;
    background-color: #f8f9fa;
    border-radius: 4px;
    color: #2A2D34;
    margin: 20px 0 20px 0;
    padding: 0 50px 0 50px;
}
.contactTitle {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
}

.form-top{
  margin-top: 30px;
}
.panel{
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
  border-radius: 6px;
    border: 0;
}
@-moz-document url-prefix() {
    .form-control{
      height: auto;
    }
}
.panel-primary{
  background-color: #2c3e50;
  color: #fff;
}
.panel-primary>.panel-heading {
    color: #fff;
    font-size: 20px;
    background-color: #2c3e50;
    border-color: #2c3e50;
}
.footerBody {
	text-align: center;
	padding-top: 100px;
}
footer {
    background: linear-gradient(#2A2D34, #3286a4);
    height: 325px;
}
@media only screen and (max-width: 768px) {
    nav{
        display: none;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 500px) {
    nav{
        display: none;
    }
    .wrapper p {
        text-align: center;
    }
    .frameImg {
        border: 12px solid rgba(206, 205, 202, .3);
        border-radius: 50%;
        height: 275px;
        width: 275px;
        overflow: hidden;
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    .experience{
        padding-right: 15px;
    }
    .companyDuties {
    	padding-left: 30px;
    }
    .education {
    	padding: 10px 15px 0 15px;
    	margin: 0 auto;
    }
    .courseWork {
    	padding-left: 30px;
    }
    .folioItem {
        margin-top: 4%;
        text-align: center;
    }
    .contact {
        display: flex;
        background-color: #2A2D34;
        padding: 0;
    }
    .smTitle {
        padding-top: 25px;
        padding-bottom: 50px;
        text-align: center;
        color: #fff;
    }
    .smStack {
        height: auto;
        width: 75%;
        border-radius: 2px;
        color: #2A2D34;
        margin: 0 auto;
        padding: 0 0 10% 0;
    }
    .contactTitle {
        padding-top: 25px;
        padding-bottom: 5%;
        text-align: center;
    }
    .emailForm {
        height: auto;
        width: 75%;
        background-color: #f8f9fa;
        border-radius: 4px;
        color: #2A2D34;
        margin: 0 auto;
        padding: 0 5% 0 5%;
    }
    footer {
        background: linear-gradient(#2A2D34, #3286a4);
        height: 200px;
    }
}
